@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Quattrocento+Sans:400,400i,700,700i');
.cart-button {
  width: 100px;
  height: 30px;
}

.caption-container {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: stretch;
  width: 400px;
  height: 200px;
  margin: 5px;
}

.product-title {
  font-size: 18px;
}

.product {
 margin: 20px;
}

.product-container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
  align-content: center;
  width: 1200px;
}

.img {
  height: 400px;
  width: 400px;
  max-width: 100%;
  position: relative;
}

/* Dropdown Button */
.dropbtn {
  background-color: #FFFFFF;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 2px solid #B3B3B3;
  font-weight: bold;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #CCCCCC;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}