/* ========================================================================== */
 /* CSS GRID - PRODUCTS  */
/* ========================================================================== */

body {
  background: #FFFFFF;
}

.sort-filter {
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-gap: 1em;
  text-align: left;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #8F8F8F;
  line-height: 50px;
  padding: 0px;
}

// .parallax { 
//   /* The image used */
//   background-image: url("../../photos/photo5.jpg");

//   /* Set a specific height */
//   height: 320px; 
//   width: 100%;

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: 0px;
// }
.banner-womans-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  height: 100px;
  color: #212121;
  line-height: 120px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 14px;
  padding: 1em;
}

.product-container > div {
  /* background: #BFBFBF; */

}

.product-container > div:nth-child(odd) {
  /* background: #888888; */
}

.header-filter {
 grid-column: 2/6;
}

.content-container {
  grid-column: 2/6;

}

.pag {
  grid-column: 2/6;
}

.footer-container {
  grid-column: 2/6;
}

.side-bar-container {
  grid-column: 1/1;
  grid-row: 1/6;
}

.nested-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 300px; */
  grid-gap: 1em;
  align-items: center;
}

.margin-default {
  margin-left: 20px;
  margin-right: 20px;
}