/* .open_mens {
  height: 350px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.80);
  background: #4BA000;

} */

/* .slide_accessories {
  height: 0px;
  width: 100%;
  background: #4BA000;
  transition: .54s;
  transition-timing-function: ease-out;
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.80); */
  /* box-shadow: 1px 1px 2px #333; */


