/* The sticky */
.sidebar {
  width: 260px;
  height: 420px;
  background: #FFFFFF;
  color: #373737;
  position: -webkit-sticky;
  position: sticky;
  top: 155px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


