.Navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 65px;
  width: 100%;
  line-height: 35px;
  display: block;
  background-color: #FFFFFF;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  border-bottom: solid 0.5px #DCDCDC;
}

