@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Quattrocento+Sans:400,400i,700,700i');

/* NAVBAR */

li {
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}


li a {
  display: block;
  color: #151515;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.Navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.Navbar-Container {
  height: 65px;
  width: 100%;
  line-height: 30px;
  display: block;
  background-color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.80); */
  letter-spacing: 1px;
  font-weight: 400;
  overflow: hidden;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* box-shadow: 1px 1px 2px #333; */
  
}

.Nav-right {
  float: right;
}

.Main-logo {
  width: 100px;
  height: 20px;
  /* background-image: url("../../Alphalete_logo1") */
}

.left-nav {
  opacity: 0px;
  float: left;
  padding-left: 30px;
}

.right-nav {
  opacity: 0px;
  float: right;
  padding-right: 30px;
}


/* NAVBAR ANIMATIONS */

.slide_mens {
  height: 0px;
  width: 100%;
  background: #FFFFFF;
  transition: .54s;
  transition-timing-function: ease-out;
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.80); */
  /* box-shadow: 1px 1px 2px #333; */
}

.slide_womans {
  height: 0px;
  width: 100%;
  background: #FFFFFF;
  transition: .54s;
  transition-timing-function: ease-out;
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.80); */
  /* box-shadow: 1px 1px 2px #333; */
}

.slide_accessories {
  height: 0px;
  width: 100%;
  background: #FFFFFF;
  transition: .54s;
  transition-timing-function: ease-out;
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.80); */
  /* box-shadow: 1px 1px 2px #333; */
}



.open_mens {
  height: 300px;
  background: #FFFFFF;
  display: relative;
  position: absolute;
  border-bottom: 1px solid rgba(153, 153, 153, 0.80);

}


.open_womans {
  height: 300px;
  position: absolute;
  border-bottom: 1px solid rgba(153, 153, 153, 0.80);

}

.open_accessories {
  height: 300px;
  position: absolute;
  border-bottom: 1px solid rgba(153, 153, 153, 0.80);

}

.Open-Search-Box {
  outline: none;
  margin-right: 20px;
  height: 25px;
  width: 250px;
  border: 1px solid #D8D8D8;
  padding-left: 10px;
  font-size: 10pt;
  margin-top: 17px;

  
}

.Search-Box-Transitions {
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	transition: all .1s;
}

/* #demo input[className=Open-Search-Box] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
  border: none;
}
#demo input[className=Open-Search-Box]:hover {
	background-color: #fff;
}
#demo input[className=Open-Search-Box]:focus {
	width: 200px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
  border: solid 2px #ccc;
}
#demo input:-moz-placeholder {
	color: transparent;
}
#demo input::-webkit-input-placeholder {
	color: transparent;
}  */