@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Quattrocento+Sans:400,400i,700,700i');

.App {
  text-align: center;
}

.Background {
  background-image: url('./photo1.jpg') 100% no-repeat;
  background-size: cover;
}