@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Quattrocento+Sans:400,400i,700,700i');

body {
  background: #f6f6f6;
}

.img-womans {
  height: 250px;
  width: 250px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  padding: 1em;
  grid-gap: 1em;
}

.wrapper > div{

}

/* .wrapper > div:nth-child(odd) {
  background: #FFFFFF;
} */

.Header {
background: #f6f6f6;
grid-column: 1/8;
font-size: 36px;
color: #0A0A0A;
text-align: center;
margin-left: 460px;
font-family: 'Oswald', sans-serif;
}


.Nav {
  background: #fff;
  grid-row: 2/6;
}

.Content {
  background: #f6f6f6;
  grid-column: 2/8;
  grid-row: 2/8;
}

.Email-Sub {
background: #fff;
grid-row: 6/8;
grid-row: 1/8;
}

.Footer {
  background: #fff;
  grid-row: 8/8;
  grid-column: 1/8;
}

.Empty {
  grid-column: 1/8;
}

.Nested-Content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 300px; */
  grid-gap: 1em;
  align-items: center;
}

.Nested-Content > div {
  padding: 1px;


}

.Filter-Align {
  float: right;
  display: block;
  margin-right: 10px;
}

.Body-Margin {
  margin-left: 100px;
  margin-right: 180px;
}

/* CONTENT */
.caption-container {
  width: 250px;

}

.product-title {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-color {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: lightseagreen;
  float: left;
}

div.product {
  padding: 0px;
  width: 250px;
  }