@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Quattrocento+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:400,400i,500,500i,700,700i,900,900i');


body {
  background: #f6f6f6;
}

.img-womans {
  height: 275px;
  width: 275px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  padding: 1em;
  grid-gap: 1em;
}

.wrapper > div{

}

/* .wrapper > div:nth-child(odd) {
  background: #FFFFFF;
} */

.Header {
background: #f6f6f6;
grid-column: 1/8;
text-align: center;
align-self: end;
padding: 0px;
}


.Nav {
  background: #f6f6f6;
  /* background-color: #555555; */
  grid-row: 4/6;
}

.Content {
  background: #f6f6f6;
  /* background-color: #A3A3A3; */
  grid-column: 2/8;
  grid-row: 2/8;
  padding: 10px;
}

.Email-Sub {
background: #f6f6f6;
/* background-color: #3C3C3C; */
grid-row: 6/8;
grid-row: 1/8;
}

.Footer {
  background: #fff;
  /* background-color: #A3A3A3; */
  grid-row: 8/8;
  grid-column: 1/8;
}

.Empty {
  grid-column: 1/8;
}

.Nested-Content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 300px; */
  grid-gap: 1em;
  align-items: center;
}

.Nested-Content > div {
  padding: 1px;


}

.Filter-Align {
  float: center;
  display: block;
  margin-right: 10px;
}

/* .Body-Margin {
  margin-left: 90px;
  margin-right: 50px;
} */

/* CONTENT */
.caption-container {
  width: 250px;
  padding: 5px;
  text-align: center;

}

.product-title {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4F4F4F
}

.product-color {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.product-price {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: lightseagreen;
  font-family: 'Roboto', sans-serif;
}

div.product {
  padding: 0px;
  width: 275px;
  height: 380px;
  }

div.product:hover {
  box-shadow: 0px 1px 3px rgba(162, 162, 162, 0.56);
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
  border-radius: 3px;
}



.sort-filter {
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-gap: 1em;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #8F8F8F;
  line-height: 50px;
  padding: 0px;
}

.parallax { 
  /* The image used */
  background-image: url("../../photo5.jpg");

  /* Set a specific height */
  height: 320px; 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.margin-shop {
  margin-left: 90px;
  margin-right: 50px;
}